---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
robots: "noindex,follow"
---

{% if site.author.googlescholar %}
You can also find my articles on [my Google Scholar profile]({{ site.author.googlescholar }}).
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign pubs_in_cat = site.publications | where: "category", category[0] %}
    {% if pubs_in_cat.size > 0 %}

## {{ category[1].title }}

* * *

      {% assign counter = pubs_in_cat | size %}
      {% for post in pubs_in_cat reversed %}
        {% include archive-single.html number=counter %}
        {% assign counter = counter | minus: 1 %}
      {% endfor %}

    {% endif %}
  {% endfor %}
{% else %}
  {% assign counter = site.publications | size %}
  {% for post in site.publications reversed %}
    {% include archive-single.html number=counter %}
    {% assign counter = counter | minus: 1 %}
  {% endfor %}
{% endif %}
