{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

## {% if include.number %} {{ include.number }}. {% endif %}
{% if post.pdf %}
  [{{ title }}]({{ post.url | relative_url }})
{% elsif post.paperurl %}
  [{{ title }}]({{ post.paperurl }})
{% elsif post.link %}
  [{{ title }}]({{ post.link }})
{% else %}
  [{{ title }}]({{ post.url | relative_url }})
{% endif %}

{% if post.read_time %}
  {% include read-time.html %}
{% endif %}

{% if post.collection == 'teaching' %}
  {{ post.type }}, {{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }}
{% elsif post.collection == 'publications' %}

{% if post.authors %}
Authors: {{ post.authors | join: ", " }}
{% endif %}

In {{ post.venue }}, {{ post.date | default: "1900-01-01" | date: "%Y" }}

{% if post.doi %}
[View on Publisher Site (DOI)](https://doi.org/{{ post.doi }})
{% endif %}

{% if post.bibtex %}
<details class="pub-bib">
  <summary>Show BibTeX</summary>
  <pre id="bib-{{ post.url | slugify }}" class="pub-pre">{{ post.bibtex }}</pre>
  <div class="copy-row">
    <button type="button" class="pub-copy-btn" data-bib-id="bib-{{ post.url | slugify }}">Copy BibTeX</button>
  </div>
</details>
{% endif %}

{% elsif post.date %}
{{ site.data.ui-text[site.locale].date_label | default: "Published:" }}
{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}
{% endif %}

{% if post.excerpt and site.read_more != 'enabled' %}
{{ post.excerpt | markdownify }}
{% elsif post.excerpt and site.read_more == 'enabled' %}
{{ post.excerpt | markdownify | remove: '\n' | remove: '\r' }}[ Read more]({{ post.url | relative_url }})
{% endif %}
